@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
}

header {
  background-color: #151414;
}

.header {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0 auto;
  background-color: #151414;
}

.top-btn-group a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.logout-btn:visited {
  color: #bbb;
}

.logout-btn:hover {
  color: #009a3e;
  text-decoration: underline;
}

.logo-box a:hover {
  text-decoration: none;
}

.logo-box a:link {
  text-decoration: none;
}

.logo-box a:visited {
  text-decoration: none;
}

/* 로그인, 회원가입, 로그아웃*/

.header-top {
  display: block;
  background-color: #202020;
  margin: auto;
}

.header-top a {
  color: #bbb;
  font-size: 14px;
  margin-right: 18px;
}
.header-top-size {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: right;
  line-height: 30px;
  margin: auto;
}

.header-top-size,
.header-bottom-size {
  width: 1200px;
}

/* 로고 */
.header-bottom {
  height: 87px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #151414;
}

.header-bottom a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-bottom h1 {
  color: #009a3e;
  font-weight: 700;
  font-family: "Dongle", sans-serif;
  font-size: 35px;
}
.logo-box {
  display: flex;
  justify-content: center;
}

.logo {
  width: 35px;
  height: 35px;
}
.logo svg {
  height: 35px;
  fill: #009a3e;
}

.user-count {
  width: 100%;
  height: 125.205px;
  background-color: 151414;
}

.count-box-all {
  width: 1200px;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
}

.user-count > div {
  margin: auto;
  width: 80%;
  height: 100%;
  text-align: center;
}

.user-count-box {
  display: flex;
  flex-direction: column;
  width: 22%;
  height: 100px;
  margin: 10px;
  background-color: black;
  border: #bbb 0.5px solid;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}

.user-count-text {
  color: #bbb;
  font-size: 42px;
}
.user-count-text2 {
  color: #bbb;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}

.logoutBox {
  background-color: #202020;
  display: flex;
  justify-content: center;
}

.logout {
  width: 1200px;

  text-align: right;
  margin-right: 10px;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logout a:visited {
  text-decoration: none;
  color: #bbb;
  font-size: 13px;
}

.logout a:link {
  text-decoration: none;
  color: #bbb;
  font-size: 13px;
}

.logout a:hover {
  text-decoration: underline;
  color: #44d62c;
}

.adminImgBox {
  background-color: #151414;
  margin: auto;
  display: flex;
  justify-content: center;
}
