@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
}

.container {
  font-family: "Noto Sans KR", sans-serif;
  width: 1200px;
  margin: 20px auto 0;
  color: #4d4d4d;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
a:visited {
  color: black;
}

button {
  cursor: pointer;
  font-family: "Noto Sans KR", sans-serif;
}
li {
  list-style: none;
}

/* top */
.top-btn-ul {
  display: flex;
  align-items: center;
  height: 33px;
  margin-bottom: 20px;
}

.top-btn {
  background-color: #f2f2f2;
  color: #4d4d4d;
  border-radius: 5px;
  margin-right: 10px;
  padding: 5px 10px;
  cursor: pointer;
  height: 23px;
  line-height: 23px;
}

/* bottom */
.follow-list-ul {
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  padding-left: 18px;
}
.follow-list {
  width: 380px;
  height: 100px;
  margin-bottom: 20px;
  margin-right: 8px;
  display: flex;
  align-items: center;
}
.follow-list a {
  display: flex;
  align-items: center;
}
.follow-list a:hover {
  text-decoration: underline;
}

/* .user-photo {
  border: 1px solid #f2f2f2;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  margin-right: 10px;
} */
.user-photo img {
  border: 1px solid #f2f2f2;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  margin-right: 10px;
  object-fit: cover;
}

.user-name {
  font-weight: 500;
  margin-right: 10px;
}

.user-follow {
  color: #009a3e;
  background-color: white;
}

/* js */
.active {
  background-color: #009a3e;
  color: white;
}

.following {
  background-color: white;
  color: #808080;
}
