@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #151414;
  color: #bbb;
  font-family: 'Noto Sans KR', sans-serif;
}

.sidebar-read-all {
  width: 1200px;
  display: flex;
  justify-content: center;
  margin: auto;
}

.sidevar {
  margin-top: 20px;
  width: 200px;
}

.board-read-all {
  width: 980px;
}

.admin-info-all {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}

.admin-info {
  background-color: #054920;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding-bottom: 10px;
}
.admin-info2 {
  height: 200px;
  background-color: #393939;
  margin-bottom: 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 1px solid #44d62c;
}

.info-top {
  width: 100%;
  text-align: center;
  padding-top: 10px;
}

.admin-imgbox {
  width: 120px;
  height: 120px;
  display: flex;
  align-content: center;
  align-items: center;
  margin: auto;
  margin-top: 20px;
}
.admin-img {
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
}

.adming-img img {
  width: 120px;
  height: 120px;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.admin-name-date {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #bbb;
}

.admin-name-date div {
  margin-top: 5px;
}

.admin-name {
  font-size: 20px;
}

.admin-date {
  font-size: 12px;
}

.board-read-all {
  margin-left: 20px;
}

.manage-all {
  background-color: #393939;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
  min-height: 150px;
}

.user-manage-ul {
  list-style: none;
}

.manage-all a:visited {
  text-decoration: none;
  color: #bbb;
}

.manage-all a:link {
  text-decoration: none;
  color: #bbb;
}

.manage-all a:hover {
  color: white;
}

.hr hr {
  border-top: 3px double #bbb;
  box-shadow: 0px 2px 2px rgb(0, 0, 0, 0.5);
}

.user-manage-list {
  margin-top: 15px;
}

.user-manage-list div {
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
}

.all-user-manage:hover,
.gosu-user-manage:hover,
.gosu-application-user-manage:hover {
  background-color: #009a3e;
  color: white;
}

.user-manage-headline {
  display: flex;
}

.user-manage-headline h2 {
  margin-left: 10px;
  color: white;
}

/* 보거라 */
.read-container {
  margin: 0 auto;
  max-width: 1024px;
  padding: 20px;
}

.view-title {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-radius: 10px;
  background-color: #393939;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}

.view-title h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 7px;
}

/* 게시글 정보 스타일 */
.view-info {
  margin-bottom: 30px;
}

.info-title {
  display: flex;
  justify-content: flex-end;
}

.content-writer,
.content-date,
.content-hit {
  border-top: 1px solid rgb(255, 255, 255, 0.5);
}

.title-wrap {
  margin-right: 20px;
  border-radius: 10px;
  background-color: #393939;
  text-align: center;
}

.view-info .writer {
  font-weight: bold;
}
.gosu-applicant {
  margin: 20px 20px 10px 20px;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.applicant-img-box {
  height: 40px;
  width: 40px;
  margin-right: 7px;
  border-radius: 50%;
  overflow: hidden;
}

.applicant-info {
  display: flex;
}

.applicant-img-box img {
  max-width: 100%;
  max-height: 100%;
  height: 40px;
  width: 40px;
  margin: auto;
}

.applicant-user-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.applicant-user-name a:visited {
  text-decoration: none;
  color: #bbb;
}

.applicant-user-name a:link {
  text-decoration: none;
  color: #bbb;
}

.applicant-user-name a:hover {
  text-decoration: underline;
  color: #009a3e;
}

.application-date {
  display: flex;
  align-items: center;
}
/* 식고수 분야  */

.gosu-department-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
  font-size: 20px;
}

.gosu-department {
  display: flex;
  background-color: #393939;
  margin: 30px 0;
  border-radius: 10px;
  padding: 30px;
}

/* 게시글 내용 스타일 */
.view-content {
  padding: 10px;
  margin-bottom: 30px;
  padding-left: 30px;
  line-height: 1.5;
  font-size: 1rem;
  white-space: pre-line;
  min-height: 500px;
  border-radius: 10px;
  background-color: #393939;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}

/* 버튼 스타일 */
.btn-group {
  text-align: right;
  width: 100%;
  margin-top: 20px;
}

.ok-btn,
.no-btn,
.back-btn {
  color: #fff;
  font-size: 20px;
  background-color: #009a3e;
  padding: 10px;
  border-radius: 5px;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
  margin-left: 5px;
}

.ok-btn:hover,
.no-btn:hover,
.back-btn:hover {
  background-color: rgb(213, 45, 45);
  color: #fff;
}
