@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gugi&family=Single+Day&display=swap');

body {
  background-color: rgb(202, 219, 202);
}


#main {
  background-color: whitesmoke;
  width: 800px;
  height: 800px;
  text-align: center;
  border-radius: 20px;
  background-image: url("../../assets/img/algorithm/main2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

p {
  font-size: 70px;
  position: relative;
  bottom: 200px;
  color: rgb(38, 232, 54);
  font-family: 'Black Han Sans', sans-serif;
}

.btn{
  background-color: #c6e6c6;
  color: #1a1919;
  border: 1px solid #bce4b5;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0px;
  padding: 10px 10px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  bottom: 180px;
  width: 180px;
}

.btn:hover{
  background: rgba(44, 234, 95, 0.5);
  color: white;
  transition: all 0.5s;
}

.col-lg-6{
  height: 80%
}

