@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap");

*{
  margin: 0;
  border: 0;
  padding: 0;
}

.container {
  font-family: "Noto Sans KR", sans-serif;
  /* width: 1200px; */
  margin: 20px auto 20px;
  color: #4d4d4d;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
a:visited {
  color: black;
}

button {
  cursor: pointer;
  font-family: "Noto Sans KR", sans-serif;
}

li {
  list-style: none;
}

/* main1배너구역 */
.main1-banner-wrap{
  width: 1200px;
  height: 300px;
  margin:30px auto;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}
.main1-slide-ul {
  /*이미지들이 담겨있는 슬라이드 컨테이너*/
  position: absolute;
  left: 0;
  top: 0;
  width: 3600px; 
  display: flex;
} 
.main1-slide-ul>li{
  width: 1200px;
  height: 300px;
}
.main1-slide-ul>li:hover{
  cursor: pointer;
}
.banner{
  position: relative;
}
.banner img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.banner p{
  position: absolute;
  font-size: 50px;
  font-weight: 700;
}
.banner1{
  color: #f2f2f2;
  top: 200px;
  left: 50px;
}
.banner2{
  top: 50px;
  left: 50px;
}
.banner3{
  color: #f2f2f2;
  right: 50px;
  top: 150px;
}

.slide-controller>span {
  color: black;
  font-weight: 700;
  position: absolute;
  background-color: transparent;
  text-align: center;
  border-radius: 50%;
  padding: 10px 20px;
  top: 80%;
  font-size: 1.3em;
  cursor: pointer;
} /* 이전, 다음 화살표에 마우스 커서가 올라가 있을때 */
.slide-controller>span:hover {
  background-color: rgba(255, 255, 255, 0.11);
}
.prev {
  left: 10px;
} /* 이전 화살표에 마우스 커서가 올라가 있을때 이전 화살표가 살짝 왼쪽으로 이동하는 효과*/
.prev:hover {
  transform: translateX(-10px);
}
.next {
  right: 10px;
} /* 다음 화살표에 마우스 커서가 올라가 있을때 이전 화살표가 살짝 오른쪽으로 이동하는 효과*/
.next:hover {
  transform: translateX(10px);
}


/* main2 섹션 */
.main2-top {
  width: 1200px;
  margin: 10px auto 10px;
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.main2-top>h3{
  font-size: 30px;
}

.main2-top>a {
  font-size: 20px;
  font-weight: 500;
  color: #009a3e;
}

/* main2 스토리리스트 */
.main2, .main4{
  width: 1200px;
  margin: 70px auto 70px;
  padding-top: 20px;
}
.main2-story-list-ul{
  width : calc(100% + 30px);
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}
.main2-story-list {
  width: 380px;
  height: 340px;
  margin: 10px 30px 20px 0;
}
/* 스토리-프로필 */
.main2-story-list-user>a{
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.story-user-photo{
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-right: 18px;
  border: 1px solid #4d4d4d;
}
.story-user-photo>img{
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-right: 18px;
  object-fit: cover;
}
/* 스토리-컨텐츠 */
.story-cover-photo>img {
  width: 380px;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
}
.main2-story-list p{
  color: #4d4d4d;
}

/* main3 식고수 */
.main3{
  width: 100%;
  background-color: #f2f2f2;
  padding: 70px 0;
}
.main3-wrap{
  width: 1200px;
  margin: 20px auto 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main3-left, .main3-right{
  width: 45%;
}

/* 식고수 리스트 main3-left>gosu-list */
.main3-gosu-li>a, .main3-gosu-name{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main3-gosu-li{
  border-radius: 10px;
  background-color: white;
  width: 80%;
  padding: 50px 0;
}
.main3-gosu-name>h3{
  font-size: 28px;
}

.main3-gosu-photo{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid #4d4d4d;
  margin: 30px 0;
}
.main3-gosu-photo>img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.main3-gosu-li>a>p{
  font-size: 20px;

}

/* 식고수페이지 오른쪽 */
.main3-right{
  position: relative;
  left: -20px;
}
.main3-right-inner>p{
  font-size: 28px;
  font-weight: 700;
  line-height: 60px;
  color: #009a3e;
}

/* main4 식물찾기테스트 */
.main4-box{
  border-radius: 20px;
  height: 400px;
  display: flex;
  background-image:url('${pageContext.request.contextPath}/assets/img/main/mainBanner1.jpg');
  background-position: center bottom;
  background-size: cover;
}
.main4-box>a{
  width: 100%;
}
.main4-box>a>p{
  color:white;
  font-size: 50px;
  font-weight: 700;
  position: relative;
  top: 250px;
  left: 380px;
}