@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
}

.gosu-question {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
}

.question-container {
  width: 1100px;
}

/* 타이틀 */
.title {
  margin-bottom: 30px;
  font-size: 2rem;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  font-size: 28px;
  font-weight: 700;
}

.question-title {
  margin-bottom: 20px;
  height: 20px;
}

.question-title label {
  display: block;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.question-title input,
[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  font-size: 1rem;
  margin-top: 10px;
}

/* title 옆 아이콘 */
.story-icon {
  background-image: url("https://www.shouse.garden/images/ico/write2.png");
  margin-right: 15px;
  vertical-align: top;
  width: 40px;
  height: 40px;
  background-size: 100% 100%;
  position: relative;
  display: inline-block;
}

/* title 옆 설명 */
.story-txt {
  margin-left: 14px;
  font-size: 16px;
  font-weight: 400;
}

/* 아래 설명 */
.mini-title {
  font-size: 25px;
  line-height: 63px;
  font-weight: 700;
  color: #222624;
  margin-top: 40px
}

/* 서머노트? */

.note-editor.note-frame {
  width: 100%;
  float: left;
  margin-right: 20px;
}

.note-resizebar {
  display: none;
}


/* 첨부파일 preview */
.upload-file {
  border: 1px solid #d9d9d9;
  background-color: #fafafa;
  padding: 13px;
  position: relative;
  height: 400px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.upload-text {
  display: flex;
  justify-content: center;
  margin: 4px;
  font-size: 12px;
  color: rgb(158, 158, 158);
}

.upload-count {
  display: flex;
  align-items: flex-end;
}

.upload-text:first-child {
  color: black;
  font-weight: bold;
}

.upload-text:last-child {
  color: rgb(255, 87, 87);
  font-weight: bold;
}

.upload-icon {
  margin-right: 5px;
  width: 21px;
  height: 21px;
}

/* 첨부시 */

.show-img-box{
  width : 100%;
  height : 100%;
}

.show-img-box > img{
  width : 100%;
  height : 100%;
}

.upload-file input[type='file'] {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  opacity: 0;
}

.file-list {
  list-style-type : none;
  margin-top : 15px;
  display : flex;
}

.file-list > li {
  display : flex;
  position : relative;
  width : 300px;
  height : 300px;
  margin-left : 20px;
}

/* 첨부파일 삭제 버튼 */

.btn-box{
  position : absolute;
  bottom : 0;
  right : 0;
}


.img-cancel-btn{
  background-color: #009a3e;
  color: white;
  border: none;
  border-radius: 5px;
  width: 40px;
  height: 25px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.img-cancel-btn:hover{
  background-color: rgb(255, 87, 87);
  color: #fff;
}


/* 등록 취소 버튼 */

.btn-groups {
  text-align: right;
  margin-top: 20px;
}

.cancel-btn,
.submit-btn {
  width: 80px;
  color: #fff;
  font-size: 14px;
  background-color: #009a3e;
  padding: 10px;
  border-radius: 5px;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
  margin-left: 5px;
}

.cancel-btn:hover,
.submit-btn:hover {
  background-color: rgb(213, 45, 45);
  color: #fff;
}


.upload-box{
  cursor: pointer;
}

/* #input-one,
#file-input{
  display: none;
} */