@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap");

*{
    margin: 0;
    padding: 0;
}

body{
  color: black;
  font-family: 'Noto Sans KR', sans-serif;
}

.question-list-body{
  display: flex;
  justify-content: center;
}

.gosu-question-list{
  width: 1200px;
}

.gosu-info{
  margin: 25px 50px;
  color: #808080;
  font-size: 25px;
}

.gosu-info a:visited{
    text-decoration: none;
    color:#009a3e;
}  

.gosu-info a:link {
  text-decoration: none;
  color: #009a3e;
}

.question-tip{
  background-color: #f2f2f2;
  color: #808080;
  margin: 25px 50px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-tip p{
  margin-right: 15px;
  cursor: pointer;
}

strong {
  color: #009a3e;
}

.question-list-box{
  margin: 25px 50px;
}

.question-name{
  margin-bottom: 15px;
}

.question-name h3{ 
  font-weight: 700;
  color: #222624;
  font-size: 23px;
}

.question-button-box{
  margin-bottom: 30px;
}

.question-button-box ul{
  list-style: none;
  display: flex;
}

.question-button-box li{
  float: left;
}

.question{
  background-color: #f2f2f2;
  border-radius: 10px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.question-mark-box{
  height: 55px;
  width: 55px;
}

.question-mark-box img{
  height: 55px;
  width: 55px;
  object-fit: cover;
}

.question-title{
  width: 50%;
  color: #3b3b3b;

}

.user-profile-box{
  width: 15%;
  display: flex;
  align-items: center;
}

.user-profile-img-box{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 5px;
}

.question-date{
  margin-left: 40px;
}

.user-profile-img-box img{
height: 40px;
width: 40px;
object-fit: cover;
border-radius: 50%;
}

.question-title a:visited,
.user-nickname-box a:visited{
  text-decoration: none;
  color: #3b3b3b;
}  

.question-title a:link,
.user-nickname-box a:link {
text-decoration: none;
color: #3b3b3b;
}

.question-title a:hover,
.user-nickname-box a:hover{
  color: #009a3e;
}

.write-btn-box{
	width: 30px;
	height: 30px;
	position: relative;
    left: 890px;
    top: 8px;
}

.write-btn-box img{
	width: 30px;
	height: 30px;
	object-fit: cover;
}

.question-active{
  display: flex;
}

.no-answer,
.ok-answer{
  height: 23px;
  line-height: 23px;
  font-size: 14px;
  border-radius: 5px;
  margin-right: 10px;
  padding: 5px 10px;
  cursor: pointer;
  border: none;	
  color: #3b3b3b;
  background-color: #f2f2f2;

}

.active{
  color: white;
  background-color: #009a3e;
}
