@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Dongle:wght@700&family=Gugi&family=Single+Day&display=swap');



body {
  background-color: rgb(202, 219, 202);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}


#result {
  background-color: whitesmoke;
  width: 500px;
  height: 800px;
  text-align: center;
  border-radius: 20px;
  margin-top: 30px;
}

.result-name {
  font-family: 'Single Day', cursive;
  font-size: 35px;
  margin-top: 15px;
  font-size:35px;
}

div {
  font-family: 'Nanum Gothic', sans-serif;
}

.content{
  font-size:14px;
  line-height: 25px;
  text-align: left; 
  margin-left: 10px;
  margin-top: 15px;
  font-family: 'Gugi', cursive;
}

.sub-content{
  text-align: left;
  font-size:14px;
  line-height: 25px;
  font-family: 'Gugi', cursive;;
  margin-top:10px;
}

h6{
  font-family: 'Single Day', cursive;
  font-size: 27px;
  text-align: left;
  margin: 30px 0 0 10px;
}

li::marker {
  color:green;
}

.btn:hover {
  background: rgba(41, 175, 101, 0.5);
  color: white;
}



.img1{

  width:270px; height: 270px; border-radius: 70%;
  margin-top: 30px;
}

.result-name{

  margin-top: 15px; font-size:30px;
}

.result-tip > h6{

  margin-bottom : 55px;
  font-size : 30px;
}

.btn1{
  background-color: #dee9e1;
  border: 4px solid #e8e8e8;
  letter-spacing: 0px;
  padding: 10px 60px;
  cursor: pointer;
  display: inline-block;
  margin: 3px 10px;
  position: relative;
  bottom:40px;
}

.btn1:hover{
	
  background: rgba(41, 175, 101, 0.5);
  color: white;
  transition: 0.3s;
}