@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Stylish&display=swap');
* {
  margin: 0;
  border: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}


button {
  cursor: pointer;
  font-family: "Noto Sans KR", sans-serif;
  border: none;
}

li {
  list-style: none;
}

/* 전체컨테이너 */
.pcontainer {
  width: 1200px;
  margin: 30px auto;
  font-family: "Noto Sans KR", sans-serif;
  color: #4d4d4d;
}

/* 상단 */
.ex-search {
  display: flex;
  width: 100%;
  height: 57px;
  justify-content: space-between;
  align-items: flex-end;
}

/* 식고수찾기 제목 */
.ex-search>h3 {
  font-size: 25px;
  font-weight: 700;
}

/* 검색창감싸고있는부분 (form태그)*/
.expertsearch {
  width: 250px;
  height: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* 검색버튼 */
.s-btn {
  background-color: #009a3e;
  color: white;
  height: 100%;
  width: 20%;
  padding: 0 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* 검색창 */

/* 검색입력하는 칸*/
.search-text {
  width: 80%;
  height: 100%;
  line-height: 30px;
  padding-left: 10px;
  background-color: #f2f2f2;
  font-size: 13px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
}

.search-text:focus {
  height: 28px;
  outline: 1px solid #009a3e;
  background-color: white;
}

/* 하단 */
/* 식고수리스트 */
.search {
  margin-top: 30px;
  background-color: #f2f2f2;
  display: flex;
  border-radius: 10px;
  padding: 30px;
  justify-content: space-around;
  align-items: center;
}

/* 고수프로필 왼쪽*/
.profile {
  text-align: center;
  border-radius: 10px;
  padding: 30px;

}

.profile-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.profile-photo>img {
  border: 1px solid #808080;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;

}

/* 고수이름 */
.expertname {
  font-size: 20px;
  font-weight: 700;
  color: #4d4d4d;
  margin: 10px 0;
}

/* 팔로우버튼 */
.user-follow {
  color: #009a3e;
}

.following{
	  color: #808080;
}

/* 고수프로필오른쪽 소개와분야 */
.container {
  background-color: white;
  width: 60%;
  height: 250px;
  text-align: center;
  border-radius: 10px;
  margin-right: 30px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
    box-sizing: border-box;
}


/* 고수소개, 분야 */

.container>.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.info-gosu{
  font-size: 20px;
  margin-bottom: 10px;
}
/* 고수한줄코멘트 */
.gosu-introduction{
/* 	font-family: 'Dongle', sans-serif; */
  font-family: 'Stylish', sans-serif;
  margin-bottom: 25px;
  font-size: 40px;
  font-weight: 700;
}

.gosu-name{
  color: #009a3e;
  font-weight: 700;
}

.gosu-field{
  color: #de02b6;
  font-weight: 700;
}


/* 더보기 버튼*/
.write-btn-wrap{
 width: 20%;
 height: 250px;
  position: relative;
  right: -30px;
  background-color: #02bf4e;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.plus-btn{
  display: inline-block;
  width: 100%;
  height: 250px;
  color: #fff;
  font-size: 20px;
  line-height: 250px;
}

/* 페이징 스타일 */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.pagination > ul {
  display: flex;
  list-style: none;
}

.pagination a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  margin: 0 5px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination a:hover {
  background-color: #009a3e;
  color: #fff;
}

.pagination .active {
  background-color: rgb(255, 87, 87);
  color: #fff;
}

/* 찾는고수가 없을 때 */
.empty{
	margin-top : 30px;
	display : inline-block;
	height : 300px;
	width : 100% ;
	line-height : 300px;
	text-align : center;
	background-color : #f2f2f2;
	border-radius : 10px;
	font-size :25px ;
}
.empty>a{
	border-radius : 5px;
	background-color : #009a3e;
	color : white;
	padding : 10px 20px;
}

.empty>a:hover{
	border-radius : 5px;
	background-color :rgb(255, 87, 87) ;
	color : white;
	padding : 10px 20px;
}