@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #f8f8f8;
}
.wraphover {
  overflow: hidden;
}

.wraphover > img {
  border: none;
  border-radius: 4px;
  transition: transform 0.5s ease-in-out;
}

.wraphover > img:hover {
  transform: scale(1.02);
}

.container {
  margin: 0 auto;
  max-width: 1024px;
  padding: 20px;
}

.bntslide {
  display: block;
  margin: 0;
  padding: 0;
}

.holder {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
  box-sizing: border-box;
}

.loopslider {
  border-radius: 4px;
}

.swiper-wrapper {
  height: 262px;
  transform: translate3d(0px, 0px, 0px);
}

ul {
  list-style: none;
}

.swiper-slide {
  position: relative;
  flex-shrink: 0;
  width: 100%;
}

.wraphover > img {
  max-width: 100%;
  border: 0;
  vertical-align: middle;
}

.subtit {
  line-height: 57px;
  font-size: 23px;
  font-weight: 700;
}

/* 스토리 이미지 */

.holder2 {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.listUl {
  width: calc(100% + 20px);
  list-style: none;
}

.listLi {
  float: left;
  position: relative;
  margin-top: 10px;
  margin-right: 20px;
  width: calc(33.33% - 20px);
}

.sl .tBox {
  position: relative;
  height: 56px;
}

.sl a {
  position: relative;
  display: block;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.sl a:hover {
  text-decoration: underline;
}

.tBox .proimg > img{
  margin: 10px 0;
  width: 34px;
  height: 34px;
  border-radius: 100%;
  border: 1px solid #d9d9d9;
}

.proimg > img{
  background-position: center center;
  background-size: cover;
}

.p1 {
  float: left;
}

.profile.p1 {
  max-width: 65%;
}

.top .profile {
  margin-left: 10px;
  margin-right: 18px;
  padding-top: 18px;
  padding-bottom: 18px;
  line-height: 20px;
  font-size: 15px;
}

.top .follow.dir {
  position: relative;
  height: 56px;
  line-height: 60px;
  font-size: 13px;
  color: #009a3e;
}

.following {
  position: relative;
  height: 56px;
  line-height: 60px;
  font-size: 13px;
  color: #4d4d4d;
}

button {
  cursor: pointer;
  background: transparent;
  border: 0;
}

.img-container {
  position: relative;
  overflow: hidden;
}



.coverimg > img {
  width: 100%;
  height: 255px;
  background-position: center center;
  background-size: cover;
  border-radius: 4px;
  transition: transform 0.5s ease-in-out;
}

.coverimg>img:hover {
  transform: scale(1.1);
}

.imgtilte {
  height: 40px;
  margin-top: 20px;
  font-size: 14px;
  color: #808080;
}

/* 페이징 스타일 */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.pagination > ul {
  display: flex;
  list-style: none;
}

.pagination a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  margin: 0 5px;
  border-radius: 5px;
  border: 1px solid #333;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination a:hover {
  background-color: #009a3e;
  border-color: #009a3e;
  color: #fff;
}

.pagination .active {
  background-color: rgb(255, 87, 87);
  border-color: #333;
  color: #fff;
}
