@import
	url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap")
	;

@import
	url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap")
	;

* {
	margin: 0;
	padding: 0;
	border: 0;
}

.container {
	margin: 0 auto;
	max-width: 1200px;
	padding: 20px;
}

.sub-title {
	margin-bottom: 30px;
	font-size: 2rem;
	font-weight: bold;
}

/* 폼 그룹 스타일 */
.form-group {
	margin-bottom: 20px;
}

.form-group label {
	display: block;
	font-size: 1rem;
	font-weight: bold;
	margin-bottom: 5px;
}

.form-group input[type="text"], .form-group textarea, .form-group select
	{
	width: 100%;
	padding: 10px;
	border: 1px solid #e0e0e0;
	border-radius: 5px;
	font-size: 1rem;
	margin-top: 10px;
}

.form-group input[type="file"] {
	display: block;
}

.writer {
	color: #333;
	margin-left: 20px;
}

/* 버튼 스타일 */
.btn-groups {
	text-align: right;
	width: 100%;
	margin-top: 20px;
}

.cancel-btn, .submit-btn {
	color: #fff;
	background-color: #009a3e;
	padding: 10px 20px;
	border-radius: 5px;
	border: none;
	transition: background-color 0.3s ease, color 0.3s ease;
	cursor: pointer;
	margin-left: 5px;
}

.cancel-btn:hover, .submit-btn:hover {
	background-color: rgb(213, 45, 45);
	color: #fff;
}

/* 내용 스타일 */
textarea {
	resize: none;
	height: 400px;
}

/* 이미지 업로드 스타일 */
.image-upload-wrap {
	border: 1px solid #d9d9d9;
	background-color: #fafafa;
	padding: 13px;
	position: relative;
	height: 400px;
	border-radius: 4px;
	justify-content: center;
	align-items: center;
	display: flex;
}

.upload-text {
	display: flex;
	justify-content: center;
	margin: 4px;
	font-size: 12px;
	color: rgb(158, 158, 158);
}

.upload-count {
	display: flex;
	align-items: flex-end;
}

.upload-text:first-child {
	color: black;
	font-weight: bold;
}

.upload-text:last-child {
	color: rgb(255, 87, 87);
	font-weight: bold;
}

.upload-icon {
	margin-right: 5px;
	width: 21px;
	height: 21px;
}

.image-upload-box input[type="file"] {
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
}

input[type="file"] {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	opacity: 0;
}

.file-list {
	list-style-type: none;
	margin-top: 15px;
	display: flex;
}

.preview-img-box {
	width: 100%;
	height: 100%;
}

.preview-img-box>img {
	object-fit: contain;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.img-controller-box .preview-img-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}

.delete-button {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 2;
	cursor: pointer;
	color: #fff;
	background-color: #009a3e;
	padding: 10px 20px;
	text-align: center;
	border-radius: 5px;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	white-space: nowrap
}

.delete-button:hover {
	background-color: rgb(213, 45, 45);
}

.add-content {
	background-color: #f2f2f2;
	height: 50px;
	position: relative;
	margin: 0 auto;
	max-width: 1200px;
	box-sizing: border-box;
	text-align: center;
	margin-top: 15px;
}

.add-btn {
	width: 100% !important;
	height: 50px;
	font-size: 15px;
	border-radius: 4px;
}

.content-control {
	max-width: 1200px;
	height: 15px;
	position: relative;
	margin: 0 auto;
	margin-bottom: 5px;
	background-color: white;
	text-align: right;
}

.content-delete {
	background-image: url("https://www.shouse.garden/images/ico/delete.png");
	background-size: auto 20px;
	width: 30px;
	height: 20px;
	font-size: 0;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: transparent;
}

.sub-title {
	height: 40px;
	line-height: 40px;
	overflow: hidden;
	font-size: 28px;
	font-weight: 700;
}

.story-ico {
	background-image: url("https://www.shouse.garden/images/ico/write2.png");
	margin-right: 15px;
	vertical-align: top;
	width: 40px;
	height: 40px;
	background-size: 100% 100%;
	position: relative;
	display: inline-block;
}

.story-txt {
	margin-left: 14px;
	font-size: 16px;
	font-weight: 400;
}

.mini-title {
	font-size: 25px;
	line-height: 63px;
	font-weight: 700;
	color: #222624;
}

.note-editor.note-frame {
	width: 50%;
	float: left;
	margin-right: 20px;
}

.note-resizebar {
	display: none;
}

/* 이미지 */
.form-group2 {
	margin-bottom: 5px;
}

.form-group2 label {
	display: block;
	font-size: 1rem;
	font-weight: bold;
	margin-bottom: 5px;
}

.form-group2 input[type="text"], .form-group2 textarea, .form-group2 select
	{
	width: 100%;
	padding: 10px;
	border: 1px solid #e0e0e0;
	border-radius: 5px;
	font-size: 1rem;
	margin-top: 10px;
}

.form-group2 input[type="file"] {
	display: block;
}

.image-upload-box2 input[type="file"] {
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
}

input[type="file"] {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	opacity: 0;
}

.image-upload-wrap2 {
	border: 1px solid #d9d9d9;
	background-color: #fafafa;
	padding: 13px;
	position: relative;
	height: 299.55px;
	border-radius: 4px;
	justify-content: center;
	align-items: center;
	display: flex;
	width: 547px;
}

.upload-text {
	display: flex;
	justify-content: center;
	margin: 4px;
	font-size: 12px;
	color: rgb(158, 158, 158);
}

.upload-count {
	display: flex;
	align-items: flex-end;
}

.upload-text:first-child {
	color: black;
	font-weight: bold;
}

.upload-text:last-child {
	color: rgb(255, 87, 87);
	font-weight: bold;
}

.upload-icon {
	margin-right: 5px;
	width: 21px;
	height: 21px;
}

.file-list2 {
	list-style-type: none;
	margin-top: 15px;
	display: flex;
}

.preview-img-box2 {
	width: 100%;
	height: 100%;
}

.preview-img-box2>img {
	object-fit: contain;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.img-controller-box2 .preview-img2-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}

.delete-button2 {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	color: #fff;
	background-color: #009a3e;
	padding: 10px 20px;
	border-radius: 5px;
	border: none;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.delete-button2:hover {
	background-color: rgb(213, 45, 45);
}

.story-wrap {
	margin-top: 10px;
}

.storyContent-box {
	margin-top: 10px;
}

.form-group3 {
	margin-bottom: 5px;
}

.form-group3 label {
	display: block;
	font-size: 1rem;
	font-weight: bold;
	margin-bottom: 5px;
}

.form-group3 input[type="text"], .form-group3 textarea, .form-group3 select
	{
	width: 100%;
	padding: 10px;
	border: 1px solid #e0e0e0;
	border-radius: 5px;
	font-size: 1rem;
	margin-top: 10px;
}

.form-group3 input[type="file"] {
	display: block;
}

.image-upload-box3 input[type="file"] {
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
}

input[type="file"] {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	opacity: 0;
}

.image-upload-wrap3 {
	border: 1px solid #d9d9d9;
	background-color: #fafafa;
	padding: 13px;
	position: relative;
	height: 299.55px;
	border-radius: 4px;
	justify-content: center;
	align-items: center;
	display: flex;
	width: 547px;
}

.upload-text {
	display: flex;
	justify-content: center;
	margin: 4px;
	font-size: 12px;
	color: rgb(158, 158, 158);
}

.upload-count {
	display: flex;
	align-items: flex-end;
}

.upload-text:first-child {
	color: black;
	font-weight: bold;
}

.upload-text:last-child {
	color: rgb(255, 87, 87);
	font-weight: bold;
}

.upload-icon {
	margin-right: 5px;
	width: 21px;
	height: 21px;
}

.file-list3 {
	list-style-type: none;
	margin-top: 15px;
	display: flex;
}

.preview-img-box3 {
	width: 100%;
	height: 100%;
}

.preview-img-box3>img {
	object-fit: contain;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.img-controller-box3 .preview-img3-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}

.storyContent-box2 {
	display: none;
	margin-top: 10px;
	/* 기본적으로는 안 보이도록 설정 */
}

.storyContent-box3 {
	display: none;
	margin-top: 10px;
	/* 기본적으로는 안 보이도록 설정 */
}