@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
}

.container {
  font-family: "Noto Sans KR", sans-serif;
  width: 1200px;
  margin: 20px auto 20px;
  color: #4d4d4d;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
a:visited {
  color: black;
}

button {
  cursor: pointer;
  font-family: "Noto Sans KR", sans-serif;
}

li {
  list-style: none;
}

/* 회원정보수정 */
.top {
  margin-top: 20px;
}
.top > h1 {
  font-weight: 700;
  margin-bottom: 10px;
}

/* 회원정보수정 입력 */
.bottom {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 400px;
}
input,
select {
  border: 1px solid #f2f2f2;
  width: 400px;
  height: 40px;
  border-radius: 5px;
  box-sizing: border-box;
}
input:focus,
select:focus {
  outline: 1px solid #009a3e;
}

.title {
  margin-bottom: 20px;
}
.title > p {
  font-weight: 700;
  margin-bottom: 10px;
}
.content > input {
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.btn {
  margin-top: 20px;
  width: 400px;
  display: flex;
  justify-content: space-between;
}
.btn > button {
  border-radius: 5px;
  padding: 15px 0;
  font-size: 16px;
  width: 195px;
  text-align: center;
}

.check-msg{
	color: red;
	font-size : 12px;
	margin-left : 10px;
	margin-top : 5px;
}
