<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="findPassword">

	<select id="findPassword" resultType="_int" parameterType="userVO">
    select tu.user_number
  	from tbl_find_password tfp join tbl_user tu 
  	ON tu.user_number = tfp.user_number and tu.user_id = #{userId}
    where tfp.find_question_number = #{findQuestionNumber}
    and tfp.find_password_answer = #{findPasswordAnswer}
  	</select>
  	
  	<insert id="insertFindPassword" parameterType="findPasswordDTO">
    insert into tbl_find_password(find_password_answer, find_question_number, user_number)
    values(#{findPasswordAnswer}, #{findQuestionNumber}, #{userNumber})
	</insert>
  
  	<update id="updatePassword" parameterType="UserDTO">
    update tbl_user
    set user_password = #{userPassword} where user_number = #{userNumber}
  	</update>
  
</mapper>