<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gosuApply">
	<insert id="insert" parameterType="gosuApplyDTO">
		insert into tbl_gosu_apply(apply_content, apply_date, user_number, apply_title)
		values(#{applyContent}, now(), #{userNumber}, #{applyTitle});
	</insert>

	<select id="getSequence" resultType="_int">
		select last_insert_id()
	</select>
	
	<select id="applying" parameterType="_int">
		update tbl_user set grade_number =
		200
		where user_number = #{userNumber}
	</select>
</mapper>